:root{
    --cor-de-fundo: black;
    --branco-principal: #F6F6F6;
    --azul-secundario: #22D4FD;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
.cabecalho{
    padding: 4.06rem 0 8.81rem 22.5rem;
}
.cabecalho_menu_botoes{
    text-decoration: none;
    margin-right: 5rem;
    font-family: var(--fonte-primaria);
    color: var(--azul-secundario);
    font-weight: 400;
    font-size: 0.8rem;
}
.conteudo_pagina{
    display: flex;
    margin: 0 25rem 6rem 22rem;
}
.apresentacao_titulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
}
.apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.otacor{
    color: var(--azul-secundario);
}
.apresentacao_paragrafo{
    font-family: var(--fonte-secundaria);
    font-weight: 200;
    line-height: 130%;
    margin-bottom: 2.5rem;
}
.apresentacao_links{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
}
.apresentacao_links_titulo{
    font-family: var(--fonte-primaria);
    font-size: 1rem;
}
.apresentacao_links_navegacao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-decoration: none;
    color: var(--branco-principal);
    font-family: var(--fonte-secundaria);
    border-color: var(--azul-secundario);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 1rem 2rem;
}
.apresentacao_links_navegacao:hover{
    background-color: #272727;
}
.imagem_muie{
    width: 50%;
    height: 50%;
    margin-left: 2rem;
}
.rodape{
    background-color: var(--azul-secundario);
    color: var(--cor-de-fundo);
    width: 100vw;
    height: 6vh;
    display: grid;
    place-items: center;
}
.rodape p{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1rem;
}
@media screen and (max-width: 1024px){
    .cabecalho{
        display: flex;
        padding: 3rem 3rem;
        justify-content: center;
    }
    .cabecalho_menu_botoes{
        margin: 0;
        font-size: 1rem;
    }
    .cabecalho_menu{
        display: flex;
        gap: 2.5rem;
    }
    .conteudo_pagina{
        padding: 0 12rem;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .imagem_muie{
        margin: 0;
        margin-bottom: 2.5rem;
        width: 70%;
        height: 70%;
    }
    .apresentacao{
        width: 50%;
    }
    .apresentacao_titulo{
        text-align: center;
        font-size: 1.5rem;
    }
    .apresentacao_paragrafo{
        text-align: center;
        font-size: 1rem;
    }
    .apresentacao_links{
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 768px){
    .cabecalho{
        padding: 3rem 3rem;
        display: flex;
        justify-content: center;
    }
    .cabecalho_menu_botoes{
        font-size: 0.8rem;
    }
    .conteudo_pagina{
        padding: 0 6rem;
    }
    .apresentacao{
        width: 70%;
    }
}
@media screen and (max-width: 425px){
    .cabecalho{
        padding: 3rem 3rem;
    }
    .cabecalho_menu_botoes{
        font-size: 0.8rem;
    }
    .conteudo_pagina{
        padding: 0;
    }
    .apresentacao_links{
        width: 100%;
    }
}